{% include header.html %}

<section class="hero">
    <div class="container">
        <h1 class="hero__headline">Camden Renewal</h1>
        <hr class="hero__divider"/>
        <p>Coronavirus has taken hold at a societal level across the UK. More than ever, we need a new approach to addressing these challenges in a way that is truly built to scale, to make change happen at the speed we need it to.</p>
        <p>Working collaboratively with partners we're investing in a new approach. 
             This is a resource that is policy led, partnering with UCL and Local Authorities...</p>
        <div class="actions">
            <a class="actions__button" href="mailto:emailaddresshere">
                Contact us
            </a>

        </div>
    </div>    
</section>

<section class="partnerships">
    <div class="container">
        <div class="partnerships__logos">
       <!--    <p class="promos__desc partnerships__tagline">
                In partnership with
                <span>and</span>
            </p> --> 
            <a href="https://www.camden.gov.uk/" target="_blank" class="partnerships__link" title="Go to Camden's website">
                <img src="/assets/camden.svg" class="partnerships__logo" alt="Camden Council"/>
            </a>
        </div>
        <div class="partnerships__logos">
            <a href="https://www.ucl.ac.uk//" target="_blank" class="partnerships__link" title="Go to UCL's website">
                <img src="/assets/ucl_test_logo.png" class="partnerships__logo" alt="University College London"/>
            </a>
            
        </div>
    </div>
</section>

<div class="main-content">
 

    <section class="promos" id="products">
        <div class="container">
            <h2 class="promos__title">Products</h2>
            <p class="promos__desc">All these are open source and open to re-use</p>
            <ul class="promo-list">
                {% for product in site.data.products %}
                    <li class="promo">
                        <a class="promo__link" href="{{ product.url }}">
                            <h3 class="promo__title">{{ product.title }}</h3>
                            <p class="promo__caption">{{ product.caption }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="promos" id="slides">
        <div class="container">
            <h2 class="promos__title">Slides</h2>
            <ul class="promo-list">
                {% for slides in site.data.slides %}
                    <li class="promo">
                        <a class="promo__link" href="{{ slides.url }}">
                            <h3 class="promo__title">{{ slides.title }}</h3>
                            <p class="promo__caption">{{ slides.caption }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="promos" id="blog">
        <div class="container">
            <h2 class="promos__title">Blog</h2>
            <ul class="promo-list">
                {% for post in site.posts %}
                    <li class="promo">
                        <a class="promo__link" href="{{ post.url }}">
                            <h3 class="promo__title">{{ post.title }}</h3>
                            <p class="promo__caption">{{ post.date | date_to_string }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section> 
    
       <section class="promos" id="challenge">
        <div class="container">
            <h2 class="promos__title">Challenge</h2>
            <p class="promos__desc">The challenge from TechForce19</p>
            <ul class="promo-list">
                {% for challenge in site.data.challenge %}
                    <li class="promo">
                        <a class="promo__link" href="{{ challenge.url }}" target="_blank">
                            <h3 class="promo__title">{{ challenge.title }}</h3>
                            <p class="promo__caption">{{ challenge.caption }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>


</div>

{% include footer.html %}
